.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
}

.row {
  max-width: 100vw;
}

.thumbnail {
  border-radius: 50%;
}

a {
  color: white !important;
}
a:hover {
  opacity: 0.5;
}

.channelname {
  font-size: 10px;
  text-decoration: underline;   
}

.videotitle {
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 0.5px;
}

.videothumbnail {
  position: relative;
  color: white;
}

.videoduration {
  position: absolute;
  padding: 0.5px 6px 0.5px 5px;
  font-size: 13px;
  font-weight: 600;
  top: 59px;
  right: 5px;
  background-color: black;
}

.videodate {
  font-size: 10px;
}

hr {
  background-color: #dedede;
}

.leftalign {
  text-align: left;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 44px !important;
}

.btn-tag {
  width: 85px;
  margin-left: 20px;
}

#header {
  background-color: #282c34;
  color: white; 
}